ROUND_DURATION=60 # минута на раунд
COOLDOWN_DURATION=30 # полминуты обратного отсчета

PORT=3000
LOG_LEVEL=info # "fatal" | "error" | "warn" | "info" | "debug" | "trace" | "silent"
API_PREFIX=api

DB_TYPE=postgres
DB_SSL=false
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345678
DB_DATABASE=round-squares

JWT_ACCESS_TOKEN=
JWT_ACCESS_EXPIRES=48hour
